#aboutus{
    background: linear-gradient(0deg,rgba(33, 150, 83, 0.60), rgba(33, 150, 83, 0.60)), url('/src/assets/images/image89.png');
    background-repeat: no-repeat;
    display: flex;
    height: 343px;
    width: 100%;
    padding-right: 96px;
}
.aboutimages{
    position: relative;
    width: 33%;
}
.aboutimage1{
    position: absolute;
   
}
.aboutimage2{
    position: absolute;
    bottom: 0;
}
.abouttext{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 67%;
    align-content: center;
    justify-content: center;
    background-color: rgba(33, 150, 83, 0.75);
    padding: 0 43px 0 102px;
}
.abouttext h3{
    align-self: center;
    font-size: 36px;
    font-weight:700;
    line-height: 43px;
    margin-bottom: 28px;
}
.abouttext p{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
@media(max-width:380px){
    #aboutus{
        flex-direction: column-reverse;
        height: auto;
        padding-right: 0 !important;
        align-items: center;
    }
    .aboutimages{
        height: 180px;
        width: 100%;
    }
    .aboutimage1{
        width: 210px !important;
        bottom: 0;
        left: -10px !important;
    }
    .aboutimage2{
        width: 435px !important;
        left:-20px !important;
    }
    .abouttext{
        width: 100%;
        padding: 30px;
        padding-bottom: 50px;
    }
}
@media(max-width:1024px){
    #aboutus{
        padding-right: 25px;

    }
    .aboutimage1{
        bottom:0;
        left: -20px;
        width:240px;
    }
    .aboutimage2{
        width: 550px;
        left: -30px;
    }
}