#footer{
    background-color: rgba(51, 51, 51, 1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    padding: 43px 96px;
}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.footer3{
    display: flex;
    flex-direction: column;
    
}
.logofooter{
    align-self: center;
    width: 150px;
    height: 28px;
}
#selectdept{
    background-color: white;
    color: #4d4d4d;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
#selectdept option{
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(130, 130, 130, 1);
}
#selectdept option:hover{
    color: white;
}
.socialicons{
    margin-top:3%;
    display: flex;
    column-gap: 10px;
}
.footerlinks{
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.footerlinks a{
    color: white;
    
}
.schedules{
    display: flex;
    column-gap: 20px;

}
@media(max-width:380px){
    #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        row-gap: 30px;
    }
    .footer1{
        text-align: center;
    }
}
@media(max-width:1024px){
    #footer{
        padding:43px;
    }
    .footer1{
        font-size: 14px;
    }
    .footer3{
        font-size: 14px;
    }
    .footerlinks{
        font-size: 12px;
        max-width: 278px;
    }
   
}